<app-home/>

<h3 class="mt-3 text-center">Create a new Reservation</h3>
<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">     <!-- (ngSubmit) is an event -->
    <div class="row my-3">
        <div class="col">
            <label class="for-label">Check-In Date:</label>
            <input class="form-control" type="date" formControlName="checkInDate">
            <small class="text-danger" *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.get('checkInDate')?.touched">
                * Check-In Date Requried
            </small>
        </div>
        <div class="col">
            <label class="for-label">Check-Out Date:</label>
            <input class="form-control" type="date" formControlName="checkOutDate">
            <small class="text-danger" *ngIf="reservationForm.get('checkOutDate')?.invalid && reservationForm.get('checkOutDate')?.touched">
                * Check-Out Date Requried
            </small>
        </div>
    </div>
    <div class="mb-3">
        <label class="for-label">Guest Name:</label>
        <input class="form-control" type="text" formControlName="guestName">
        <small class="text-danger" *ngIf="reservationForm.get('guestName')?.invalid && reservationForm.get('guestName')?.touched">
            * Guest Name Requried
        </small>
    </div>
    <div class="mb-3">
        <label class="for-label">Guest Email:</label>
        <input class="form-control" type="email" formControlName="guestEmail">
        <small *ngIf="reservationForm.get('guestEmail')?.invalid && reservationForm.get('guestEmail')?.touched">
            <div *ngIf="reservationForm.get('guestEmail')?.errors?.['required']" style="color: red;">
                * Guest Email Required
            </div>
            <div *ngIf="reservationForm.get('guestEmail')?.errors?.['email']" style="color: red;">
                * Invalid Email Format
            </div>
        </small>
    </div>
    <div class="mb-3">
        <label class="for-label">Room Number:</label>
        <input class="form-control" type="number" formControlName="roomNumber">
        <small class="text-danger" *ngIf="reservationForm.get('roomNumber')?.invalid && reservationForm.get('roomNumber')?.touched">
            * Room Number Requried
        </small>
    </div>
    <button class="btn btn-primary mt-3" type="submit" [disabled]="reservationForm.invalid">Submit</button>
</form>
